<!--The content below is only a placeholder and can be replaced.-->

<div style="display: flex; flex-direction: row; justify-content: space-around"></div>
<div style="text-align:left">
  <h1>
    <IMG SRC="assets/logo123.png" ALT="some text" WIDTH=60 HEIGHT=40>
    {{ title }}
  </h1>


  <mat-toolbar>
    <div class='menu-toolbar-wrapper'>
      <div>
        <button mat-raised-button color="primary" [routerLink]="'/'">Home</button>
      </div>
      <div>
        <button mat-raised-button color="primary" [routerLink]="'/patientpage'">Patient</button>
      </div>
      <div>
        <button mat-raised-button color="primary"> Insurance Basics</button>
      </div>
      <div>
        <button mat-raised-button color="primary"  [routerLink]="'/doctorpage'"> Find a Doctor/Hospital</button>
      </div>
      <div> <button mat-raised-button color="primary">Log In/Sign Up</button></div>
    </div>
  </mat-toolbar>

  <div class="main-section">
    <router-outlet></router-outlet>
  </div>

  <!-- <app-footer class="apphtml-footer"></app-footer> -->