.footer-toolbar-wrapper{
    display: flex; 
    justify-content: space-around;
    font-style: italic;
    color:white;
    position: relative;
    margin-bottom: 0!important;
    text-align: center;
    width:100%;
    padding-top: 10px;
  }